## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hamilton,US,39.1834,-84.5333,83.71,76,75,11.50,broken clouds
1,1,Naryan-Mar,RU,67.6713,53.0870,62.44,63,75,11.52,broken clouds
2,2,Vaini,TO,-21.2000,-175.2000,78.96,83,20,8.05,few clouds
3,3,Portland,US,45.5234,-122.6762,98.58,39,16,3.00,few clouds
4,4,Nago,JP,26.5881,127.9761,81.03,79,4,3.96,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Naryan-Mar,RU,67.6713,53.0870,62.44,63,75,11.52,broken clouds
5,5,Carnarvon,AU,-24.8667,113.6333,69.10,53,100,0.69,overcast clouds
7,7,Cape Town,ZA,-33.9258,18.4232,57.11,80,0,1.99,clear sky
9,9,Busselton,AU,-33.6500,115.3333,52.16,72,4,7.07,clear sky
10,10,Jumla,NP,29.2747,82.1838,61.90,97,100,0.58,overcast clouds
14,14,Tiksi,RU,71.6872,128.8694,61.32,70,41,6.04,scattered clouds
15,15,Lebu,CL,-37.6167,-73.6500,51.22,83,26,8.46,scattered clouds
18,18,Kodiak,US,57.7900,-152.4072,62.11,55,0,12.66,clear sky
19,19,Hermanus,ZA,-34.4187,19.2345,54.81,85,0,12.17,clear sky
21,21,Vestmanna,FO,62.1564,-7.1664,50.92,100,100,14.97,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                263
City                   263
Country                259
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current Description    263
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
hotel_df = preferred_cities_df.dropna()
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Naryan-Mar,RU,67.6713,53.0870,62.44,63,75,11.52,broken clouds
5,5,Carnarvon,AU,-24.8667,113.6333,69.10,53,100,0.69,overcast clouds
7,7,Cape Town,ZA,-33.9258,18.4232,57.11,80,0,1.99,clear sky
9,9,Busselton,AU,-33.6500,115.3333,52.16,72,4,7.07,clear sky
10,10,Jumla,NP,29.2747,82.1838,61.90,97,100,0.58,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Salym,RU,60.0625,71.4789,53.80,82,100,5.37,overcast clouds
679,679,Siyabuswa,ZA,-25.1132,29.0445,61.63,43,39,6.29,scattered clouds
682,682,Galesong,ID,-5.3166,119.3661,69.82,76,29,9.10,scattered clouds
684,684,Richards Bay,ZA,-28.7830,32.0377,64.35,91,66,5.21,broken clouds
685,685,Cap Malheureux,MU,-19.9842,57.6142,68.47,77,8,1.99,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Naryan-Mar,RU,62.44,broken clouds,67.6713,53.0870,
5,Carnarvon,AU,69.10,overcast clouds,-24.8667,113.6333,
7,Cape Town,ZA,57.11,clear sky,-33.9258,18.4232,
9,Busselton,AU,52.16,clear sky,-33.6500,115.3333,
10,Jumla,NP,61.90,overcast clouds,29.2747,82.1838,
14,Tiksi,RU,61.32,scattered clouds,71.6872,128.8694,
15,Lebu,CL,51.22,scattered clouds,-37.6167,-73.6500,
18,Kodiak,US,62.11,clear sky,57.7900,-152.4072,
19,Hermanus,ZA,54.81,clear sky,-34.4187,19.2345,
21,Vestmanna,FO,50.92,overcast clouds,62.1564,-7.1664,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Naryan-Mar,RU,62.44,broken clouds,67.6713,53.0870,Hostel Agat
5,Carnarvon,AU,69.10,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
7,Cape Town,ZA,57.11,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
9,Busselton,AU,52.16,clear sky,-33.6500,115.3333,Observatory Guest House
10,Jumla,NP,61.90,overcast clouds,29.2747,82.1838,Royal Garden Hotel
...,...,...,...,...,...,...,...
677,Salym,RU,53.80,overcast clouds,60.0625,71.4789,Gostinitsa Salym
679,Siyabuswa,ZA,61.63,scattered clouds,-25.1132,29.0445,Confy Inn Guest Rooms
682,Galesong,ID,69.82,scattered clouds,-5.3166,119.3661,Sapriadi Appy
684,Richards Bay,ZA,64.35,broken clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
685,Cap Malheureux,MU,68.47,clear sky,-19.9842,57.6142,Pereybere Hotel & Spa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

In [12]:
fig

Figure(layout=FigureLayout(height='420px'))